# Dependencies
node_modules/
/.pnp
.pnp.js

# Production & Build outputs
.next/
out/
build/
dist/

# TypeScript build info cache
*.tsbuildinfo
next-env.d.ts

# Environment variables
.env*.local
.env
.env.production
.env.development

# Debug and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS metadata & IDE files
.DS_Store
*.pem
Thumbs.db
.vscode/
.idea/

# Vercel
.vercel
